.compose-post-area{
    display: flex;
    align-items: center;
}

ion-content{
    background-color: #FAFAFA;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}